demoadfjan29/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "demoadfjan29"
		},
		"AzureDatabricks1_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'AzureDatabricks1'"
		},
		"AzureSqlDatabase1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'AzureSqlDatabase1'"
		},
		"ls_ADBtoSQL_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'ls_ADBtoSQL'"
		},
		"ls_adb_connection_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'ls_adb_connection'"
		},
		"ls_adbd_to_SQL_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'ls_adbd_to_SQL'"
		},
		"ls_blobstorage_s1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_blobstorage_s1'"
		},
		"ls_blobstorage_s2_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_blobstorage_s2'"
		},
		"AzureDatabricks1_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0202-102829-570iyzcj"
		},
		"AzureSqlDatabase1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "newdatabase11.database.windows.net"
		},
		"AzureSqlDatabase1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "newdatabase"
		},
		"AzureSqlDatabase1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Edukron"
		},
		"ls_ADBtoSQL_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0202-102829-570iyzcj"
		},
		"ls_adb_connection_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0202-102829-570iyzcj"
		},
		"ls_adbd_to_SQL_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0202-102829-570iyzcj"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DeleteActitvity')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Delete1",
						"type": "Delete",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "dilactiv",
								"type": "DatasetReference",
								"parameters": {}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "ls_blobstorage_s1",
									"type": "LinkedServiceReference"
								}
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": false,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"file": {
						"type": "Boolean"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dilactiv')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_blobstorage_s1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ValidationActivity')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Validation1",
						"type": "Validation",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DelimitedText7",
								"type": "DatasetReference",
								"parameters": {}
							},
							"timeout": "0.00:00:59",
							"sleep": 10,
							"minimumSize": 50
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DelimitedText7')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/WaitDemo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Until1",
						"type": "Until",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@variables('file')",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Get Metadata1",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "DelimitedText4",
											"type": "DatasetReference",
											"parameters": {}
										},
										"fieldList": [
											"exists"
										],
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "DelimitedTextReadSettings"
										}
									}
								},
								{
									"name": "waitdemo",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Get Metadata1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@activity('Get Metadata1').output.exists",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Wait1",
												"type": "Wait",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"waitTimeInSeconds": 10
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "Copy data1",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "Set variable1",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobStorageWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DelimitedText4",
														"type": "DatasetReference",
														"parameters": {}
													}
												],
												"outputs": [
													{
														"referenceName": "DelimitedText5",
														"type": "DatasetReference",
														"parameters": {}
													}
												]
											},
											{
												"name": "Set variable1",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "file",
													"value": {
														"value": "@activity('Get Metadata1').output.exists",
														"type": "Expression"
													}
												}
											}
										]
									}
								}
							],
							"timeout": "0.00:01:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"file": {
						"type": "Boolean"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DelimitedText4')]",
				"[concat(variables('factoryId'), '/datasets/DelimitedText5')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adb to SQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/surya190602@gmail.com/AzureDatabrickstoSQLServer"
						},
						"linkedServiceName": {
							"referenceName": "ls_ADBtoSQL",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-02-04T11:22:53Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_ADBtoSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adbadfconnection')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "adbadfconnection",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/surya190602@gmail.com/Random Data Generator"
						},
						"linkedServiceName": {
							"referenceName": "ls_adb_connection",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-02-04T10:35:01Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adb_connection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adbdtoSQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/surya190602@gmail.com/AzureDatabrickstoSQLServer"
						},
						"linkedServiceName": {
							"referenceName": "ls_adbd_to_SQL",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-02-04T18:24:24Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adbd_to_SQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/append value')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DelimitedText3",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Append variable1",
									"type": "AppendVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "FileNames",
										"value": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"FileNames": {
						"type": "Array"
					},
					"file": {
						"type": "Boolean"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DelimitedText3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/copyFileswithinblob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DelimitedText1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Json1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-01-29T18:19:35Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DelimitedText1')]",
				"[concat(variables('factoryId'), '/datasets/Json1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/parameters')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/surya190602@gmail.com/ADB to ADF Parameters",
							"baseParameters": {
								"input": {
									"value": "@concat('https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv')",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-02-07T06:57:41Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_blobstorage_s1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "application_test.csv",
						"container": "source"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SK_ID_CURR",
						"type": "String"
					},
					{
						"name": "NAME_CONTRACT_TYPE",
						"type": "String"
					},
					{
						"name": "CODE_GENDER",
						"type": "String"
					},
					{
						"name": "FLAG_OWN_CAR",
						"type": "String"
					},
					{
						"name": "FLAG_OWN_REALTY",
						"type": "String"
					},
					{
						"name": "CNT_CHILDREN",
						"type": "String"
					},
					{
						"name": "AMT_INCOME_TOTAL",
						"type": "String"
					},
					{
						"name": "AMT_CREDIT",
						"type": "String"
					},
					{
						"name": "AMT_ANNUITY",
						"type": "String"
					},
					{
						"name": "AMT_GOODS_PRICE",
						"type": "String"
					},
					{
						"name": "NAME_TYPE_SUITE",
						"type": "String"
					},
					{
						"name": "NAME_INCOME_TYPE",
						"type": "String"
					},
					{
						"name": "NAME_EDUCATION_TYPE",
						"type": "String"
					},
					{
						"name": "NAME_FAMILY_STATUS",
						"type": "String"
					},
					{
						"name": "NAME_HOUSING_TYPE",
						"type": "String"
					},
					{
						"name": "REGION_POPULATION_RELATIVE",
						"type": "String"
					},
					{
						"name": "DAYS_BIRTH",
						"type": "String"
					},
					{
						"name": "DAYS_EMPLOYED",
						"type": "String"
					},
					{
						"name": "DAYS_REGISTRATION",
						"type": "String"
					},
					{
						"name": "DAYS_ID_PUBLISH",
						"type": "String"
					},
					{
						"name": "OWN_CAR_AGE",
						"type": "String"
					},
					{
						"name": "FLAG_MOBIL",
						"type": "String"
					},
					{
						"name": "FLAG_EMP_PHONE",
						"type": "String"
					},
					{
						"name": "FLAG_WORK_PHONE",
						"type": "String"
					},
					{
						"name": "FLAG_CONT_MOBILE",
						"type": "String"
					},
					{
						"name": "FLAG_PHONE",
						"type": "String"
					},
					{
						"name": "FLAG_EMAIL",
						"type": "String"
					},
					{
						"name": "OCCUPATION_TYPE",
						"type": "String"
					},
					{
						"name": "CNT_FAM_MEMBERS",
						"type": "String"
					},
					{
						"name": "REGION_RATING_CLIENT",
						"type": "String"
					},
					{
						"name": "REGION_RATING_CLIENT_W_CITY",
						"type": "String"
					},
					{
						"name": "WEEKDAY_APPR_PROCESS_START",
						"type": "String"
					},
					{
						"name": "HOUR_APPR_PROCESS_START",
						"type": "String"
					},
					{
						"name": "REG_REGION_NOT_LIVE_REGION",
						"type": "String"
					},
					{
						"name": "REG_REGION_NOT_WORK_REGION",
						"type": "String"
					},
					{
						"name": "LIVE_REGION_NOT_WORK_REGION",
						"type": "String"
					},
					{
						"name": "REG_CITY_NOT_LIVE_CITY",
						"type": "String"
					},
					{
						"name": "REG_CITY_NOT_WORK_CITY",
						"type": "String"
					},
					{
						"name": "LIVE_CITY_NOT_WORK_CITY",
						"type": "String"
					},
					{
						"name": "ORGANIZATION_TYPE",
						"type": "String"
					},
					{
						"name": "EXT_SOURCE_1",
						"type": "String"
					},
					{
						"name": "EXT_SOURCE_2",
						"type": "String"
					},
					{
						"name": "EXT_SOURCE_3",
						"type": "String"
					},
					{
						"name": "APARTMENTS_AVG",
						"type": "String"
					},
					{
						"name": "BASEMENTAREA_AVG",
						"type": "String"
					},
					{
						"name": "YEARS_BEGINEXPLUATATION_AVG",
						"type": "String"
					},
					{
						"name": "YEARS_BUILD_AVG",
						"type": "String"
					},
					{
						"name": "COMMONAREA_AVG",
						"type": "String"
					},
					{
						"name": "ELEVATORS_AVG",
						"type": "String"
					},
					{
						"name": "ENTRANCES_AVG",
						"type": "String"
					},
					{
						"name": "FLOORSMAX_AVG",
						"type": "String"
					},
					{
						"name": "FLOORSMIN_AVG",
						"type": "String"
					},
					{
						"name": "LANDAREA_AVG",
						"type": "String"
					},
					{
						"name": "LIVINGAPARTMENTS_AVG",
						"type": "String"
					},
					{
						"name": "LIVINGAREA_AVG",
						"type": "String"
					},
					{
						"name": "NONLIVINGAPARTMENTS_AVG",
						"type": "String"
					},
					{
						"name": "NONLIVINGAREA_AVG",
						"type": "String"
					},
					{
						"name": "APARTMENTS_MODE",
						"type": "String"
					},
					{
						"name": "BASEMENTAREA_MODE",
						"type": "String"
					},
					{
						"name": "YEARS_BEGINEXPLUATATION_MODE",
						"type": "String"
					},
					{
						"name": "YEARS_BUILD_MODE",
						"type": "String"
					},
					{
						"name": "COMMONAREA_MODE",
						"type": "String"
					},
					{
						"name": "ELEVATORS_MODE",
						"type": "String"
					},
					{
						"name": "ENTRANCES_MODE",
						"type": "String"
					},
					{
						"name": "FLOORSMAX_MODE",
						"type": "String"
					},
					{
						"name": "FLOORSMIN_MODE",
						"type": "String"
					},
					{
						"name": "LANDAREA_MODE",
						"type": "String"
					},
					{
						"name": "LIVINGAPARTMENTS_MODE",
						"type": "String"
					},
					{
						"name": "LIVINGAREA_MODE",
						"type": "String"
					},
					{
						"name": "NONLIVINGAPARTMENTS_MODE",
						"type": "String"
					},
					{
						"name": "NONLIVINGAREA_MODE",
						"type": "String"
					},
					{
						"name": "APARTMENTS_MEDI",
						"type": "String"
					},
					{
						"name": "BASEMENTAREA_MEDI",
						"type": "String"
					},
					{
						"name": "YEARS_BEGINEXPLUATATION_MEDI",
						"type": "String"
					},
					{
						"name": "YEARS_BUILD_MEDI",
						"type": "String"
					},
					{
						"name": "COMMONAREA_MEDI",
						"type": "String"
					},
					{
						"name": "ELEVATORS_MEDI",
						"type": "String"
					},
					{
						"name": "ENTRANCES_MEDI",
						"type": "String"
					},
					{
						"name": "FLOORSMAX_MEDI",
						"type": "String"
					},
					{
						"name": "FLOORSMIN_MEDI",
						"type": "String"
					},
					{
						"name": "LANDAREA_MEDI",
						"type": "String"
					},
					{
						"name": "LIVINGAPARTMENTS_MEDI",
						"type": "String"
					},
					{
						"name": "LIVINGAREA_MEDI",
						"type": "String"
					},
					{
						"name": "NONLIVINGAPARTMENTS_MEDI",
						"type": "String"
					},
					{
						"name": "NONLIVINGAREA_MEDI",
						"type": "String"
					},
					{
						"name": "FONDKAPREMONT_MODE",
						"type": "String"
					},
					{
						"name": "HOUSETYPE_MODE",
						"type": "String"
					},
					{
						"name": "TOTALAREA_MODE",
						"type": "String"
					},
					{
						"name": "WALLSMATERIAL_MODE",
						"type": "String"
					},
					{
						"name": "EMERGENCYSTATE_MODE",
						"type": "String"
					},
					{
						"name": "OBS_30_CNT_SOCIAL_CIRCLE",
						"type": "String"
					},
					{
						"name": "DEF_30_CNT_SOCIAL_CIRCLE",
						"type": "String"
					},
					{
						"name": "OBS_60_CNT_SOCIAL_CIRCLE",
						"type": "String"
					},
					{
						"name": "DEF_60_CNT_SOCIAL_CIRCLE",
						"type": "String"
					},
					{
						"name": "DAYS_LAST_PHONE_CHANGE",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_2",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_3",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_4",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_5",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_6",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_7",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_8",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_9",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_10",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_11",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_12",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_13",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_14",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_15",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_16",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_17",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_18",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_19",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_20",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_21",
						"type": "String"
					},
					{
						"name": "AMT_REQ_CREDIT_BUREAU_HOUR",
						"type": "String"
					},
					{
						"name": "AMT_REQ_CREDIT_BUREAU_DAY",
						"type": "String"
					},
					{
						"name": "AMT_REQ_CREDIT_BUREAU_WEEK",
						"type": "String"
					},
					{
						"name": "AMT_REQ_CREDIT_BUREAU_MON",
						"type": "String"
					},
					{
						"name": "AMT_REQ_CREDIT_BUREAU_QRT",
						"type": "String"
					},
					{
						"name": "AMT_REQ_CREDIT_BUREAU_YEAR",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_blobstorage_s1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_blobstorage_s1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "HomeCredit_columns_description.csv",
						"container": "source"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Prop_0",
						"type": "String"
					},
					{
						"name": "Table",
						"type": "String"
					},
					{
						"name": "Row",
						"type": "String"
					},
					{
						"name": "Description",
						"type": "String"
					},
					{
						"name": "Special",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_blobstorage_s1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_blobstorage_s1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "source"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Prop_0",
						"type": "String"
					},
					{
						"name": "Table",
						"type": "String"
					},
					{
						"name": "Row",
						"type": "String"
					},
					{
						"name": "Description",
						"type": "String"
					},
					{
						"name": "Special",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_blobstorage_s1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText4')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_blobstorage_s1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "bureau.csv",
						"container": "source"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SK_ID_CURR",
						"type": "String"
					},
					{
						"name": "SK_ID_BUREAU",
						"type": "String"
					},
					{
						"name": "CREDIT_ACTIVE",
						"type": "String"
					},
					{
						"name": "CREDIT_CURRENCY",
						"type": "String"
					},
					{
						"name": "DAYS_CREDIT",
						"type": "String"
					},
					{
						"name": "CREDIT_DAY_OVERDUE",
						"type": "String"
					},
					{
						"name": "DAYS_CREDIT_ENDDATE",
						"type": "String"
					},
					{
						"name": "DAYS_ENDDATE_FACT",
						"type": "String"
					},
					{
						"name": "AMT_CREDIT_MAX_OVERDUE",
						"type": "String"
					},
					{
						"name": "CNT_CREDIT_PROLONG",
						"type": "String"
					},
					{
						"name": "AMT_CREDIT_SUM",
						"type": "String"
					},
					{
						"name": "AMT_CREDIT_SUM_DEBT",
						"type": "String"
					},
					{
						"name": "AMT_CREDIT_SUM_LIMIT",
						"type": "String"
					},
					{
						"name": "AMT_CREDIT_SUM_OVERDUE",
						"type": "String"
					},
					{
						"name": "CREDIT_TYPE",
						"type": "String"
					},
					{
						"name": "DAYS_CREDIT_UPDATE",
						"type": "String"
					},
					{
						"name": "AMT_ANNUITY",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_blobstorage_s1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText5')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_blobstorage_s1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "destination"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_blobstorage_s1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText6')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_blobstorage_s1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "source"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Prop_0",
						"type": "String"
					},
					{
						"name": "Table",
						"type": "String"
					},
					{
						"name": "Row",
						"type": "String"
					},
					{
						"name": "Description",
						"type": "String"
					},
					{
						"name": "Special",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_blobstorage_s1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText7')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_blobstorage_s1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "application_test.csv",
						"container": "source"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SK_ID_CURR",
						"type": "String"
					},
					{
						"name": "NAME_CONTRACT_TYPE",
						"type": "String"
					},
					{
						"name": "CODE_GENDER",
						"type": "String"
					},
					{
						"name": "FLAG_OWN_CAR",
						"type": "String"
					},
					{
						"name": "FLAG_OWN_REALTY",
						"type": "String"
					},
					{
						"name": "CNT_CHILDREN",
						"type": "String"
					},
					{
						"name": "AMT_INCOME_TOTAL",
						"type": "String"
					},
					{
						"name": "AMT_CREDIT",
						"type": "String"
					},
					{
						"name": "AMT_ANNUITY",
						"type": "String"
					},
					{
						"name": "AMT_GOODS_PRICE",
						"type": "String"
					},
					{
						"name": "NAME_TYPE_SUITE",
						"type": "String"
					},
					{
						"name": "NAME_INCOME_TYPE",
						"type": "String"
					},
					{
						"name": "NAME_EDUCATION_TYPE",
						"type": "String"
					},
					{
						"name": "NAME_FAMILY_STATUS",
						"type": "String"
					},
					{
						"name": "NAME_HOUSING_TYPE",
						"type": "String"
					},
					{
						"name": "REGION_POPULATION_RELATIVE",
						"type": "String"
					},
					{
						"name": "DAYS_BIRTH",
						"type": "String"
					},
					{
						"name": "DAYS_EMPLOYED",
						"type": "String"
					},
					{
						"name": "DAYS_REGISTRATION",
						"type": "String"
					},
					{
						"name": "DAYS_ID_PUBLISH",
						"type": "String"
					},
					{
						"name": "OWN_CAR_AGE",
						"type": "String"
					},
					{
						"name": "FLAG_MOBIL",
						"type": "String"
					},
					{
						"name": "FLAG_EMP_PHONE",
						"type": "String"
					},
					{
						"name": "FLAG_WORK_PHONE",
						"type": "String"
					},
					{
						"name": "FLAG_CONT_MOBILE",
						"type": "String"
					},
					{
						"name": "FLAG_PHONE",
						"type": "String"
					},
					{
						"name": "FLAG_EMAIL",
						"type": "String"
					},
					{
						"name": "OCCUPATION_TYPE",
						"type": "String"
					},
					{
						"name": "CNT_FAM_MEMBERS",
						"type": "String"
					},
					{
						"name": "REGION_RATING_CLIENT",
						"type": "String"
					},
					{
						"name": "REGION_RATING_CLIENT_W_CITY",
						"type": "String"
					},
					{
						"name": "WEEKDAY_APPR_PROCESS_START",
						"type": "String"
					},
					{
						"name": "HOUR_APPR_PROCESS_START",
						"type": "String"
					},
					{
						"name": "REG_REGION_NOT_LIVE_REGION",
						"type": "String"
					},
					{
						"name": "REG_REGION_NOT_WORK_REGION",
						"type": "String"
					},
					{
						"name": "LIVE_REGION_NOT_WORK_REGION",
						"type": "String"
					},
					{
						"name": "REG_CITY_NOT_LIVE_CITY",
						"type": "String"
					},
					{
						"name": "REG_CITY_NOT_WORK_CITY",
						"type": "String"
					},
					{
						"name": "LIVE_CITY_NOT_WORK_CITY",
						"type": "String"
					},
					{
						"name": "ORGANIZATION_TYPE",
						"type": "String"
					},
					{
						"name": "EXT_SOURCE_1",
						"type": "String"
					},
					{
						"name": "EXT_SOURCE_2",
						"type": "String"
					},
					{
						"name": "EXT_SOURCE_3",
						"type": "String"
					},
					{
						"name": "APARTMENTS_AVG",
						"type": "String"
					},
					{
						"name": "BASEMENTAREA_AVG",
						"type": "String"
					},
					{
						"name": "YEARS_BEGINEXPLUATATION_AVG",
						"type": "String"
					},
					{
						"name": "YEARS_BUILD_AVG",
						"type": "String"
					},
					{
						"name": "COMMONAREA_AVG",
						"type": "String"
					},
					{
						"name": "ELEVATORS_AVG",
						"type": "String"
					},
					{
						"name": "ENTRANCES_AVG",
						"type": "String"
					},
					{
						"name": "FLOORSMAX_AVG",
						"type": "String"
					},
					{
						"name": "FLOORSMIN_AVG",
						"type": "String"
					},
					{
						"name": "LANDAREA_AVG",
						"type": "String"
					},
					{
						"name": "LIVINGAPARTMENTS_AVG",
						"type": "String"
					},
					{
						"name": "LIVINGAREA_AVG",
						"type": "String"
					},
					{
						"name": "NONLIVINGAPARTMENTS_AVG",
						"type": "String"
					},
					{
						"name": "NONLIVINGAREA_AVG",
						"type": "String"
					},
					{
						"name": "APARTMENTS_MODE",
						"type": "String"
					},
					{
						"name": "BASEMENTAREA_MODE",
						"type": "String"
					},
					{
						"name": "YEARS_BEGINEXPLUATATION_MODE",
						"type": "String"
					},
					{
						"name": "YEARS_BUILD_MODE",
						"type": "String"
					},
					{
						"name": "COMMONAREA_MODE",
						"type": "String"
					},
					{
						"name": "ELEVATORS_MODE",
						"type": "String"
					},
					{
						"name": "ENTRANCES_MODE",
						"type": "String"
					},
					{
						"name": "FLOORSMAX_MODE",
						"type": "String"
					},
					{
						"name": "FLOORSMIN_MODE",
						"type": "String"
					},
					{
						"name": "LANDAREA_MODE",
						"type": "String"
					},
					{
						"name": "LIVINGAPARTMENTS_MODE",
						"type": "String"
					},
					{
						"name": "LIVINGAREA_MODE",
						"type": "String"
					},
					{
						"name": "NONLIVINGAPARTMENTS_MODE",
						"type": "String"
					},
					{
						"name": "NONLIVINGAREA_MODE",
						"type": "String"
					},
					{
						"name": "APARTMENTS_MEDI",
						"type": "String"
					},
					{
						"name": "BASEMENTAREA_MEDI",
						"type": "String"
					},
					{
						"name": "YEARS_BEGINEXPLUATATION_MEDI",
						"type": "String"
					},
					{
						"name": "YEARS_BUILD_MEDI",
						"type": "String"
					},
					{
						"name": "COMMONAREA_MEDI",
						"type": "String"
					},
					{
						"name": "ELEVATORS_MEDI",
						"type": "String"
					},
					{
						"name": "ENTRANCES_MEDI",
						"type": "String"
					},
					{
						"name": "FLOORSMAX_MEDI",
						"type": "String"
					},
					{
						"name": "FLOORSMIN_MEDI",
						"type": "String"
					},
					{
						"name": "LANDAREA_MEDI",
						"type": "String"
					},
					{
						"name": "LIVINGAPARTMENTS_MEDI",
						"type": "String"
					},
					{
						"name": "LIVINGAREA_MEDI",
						"type": "String"
					},
					{
						"name": "NONLIVINGAPARTMENTS_MEDI",
						"type": "String"
					},
					{
						"name": "NONLIVINGAREA_MEDI",
						"type": "String"
					},
					{
						"name": "FONDKAPREMONT_MODE",
						"type": "String"
					},
					{
						"name": "HOUSETYPE_MODE",
						"type": "String"
					},
					{
						"name": "TOTALAREA_MODE",
						"type": "String"
					},
					{
						"name": "WALLSMATERIAL_MODE",
						"type": "String"
					},
					{
						"name": "EMERGENCYSTATE_MODE",
						"type": "String"
					},
					{
						"name": "OBS_30_CNT_SOCIAL_CIRCLE",
						"type": "String"
					},
					{
						"name": "DEF_30_CNT_SOCIAL_CIRCLE",
						"type": "String"
					},
					{
						"name": "OBS_60_CNT_SOCIAL_CIRCLE",
						"type": "String"
					},
					{
						"name": "DEF_60_CNT_SOCIAL_CIRCLE",
						"type": "String"
					},
					{
						"name": "DAYS_LAST_PHONE_CHANGE",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_2",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_3",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_4",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_5",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_6",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_7",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_8",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_9",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_10",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_11",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_12",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_13",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_14",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_15",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_16",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_17",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_18",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_19",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_20",
						"type": "String"
					},
					{
						"name": "FLAG_DOCUMENT_21",
						"type": "String"
					},
					{
						"name": "AMT_REQ_CREDIT_BUREAU_HOUR",
						"type": "String"
					},
					{
						"name": "AMT_REQ_CREDIT_BUREAU_DAY",
						"type": "String"
					},
					{
						"name": "AMT_REQ_CREDIT_BUREAU_WEEK",
						"type": "String"
					},
					{
						"name": "AMT_REQ_CREDIT_BUREAU_MON",
						"type": "String"
					},
					{
						"name": "AMT_REQ_CREDIT_BUREAU_QRT",
						"type": "String"
					},
					{
						"name": "AMT_REQ_CREDIT_BUREAU_YEAR",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_blobstorage_s1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Json1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_blobstorage_s2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "destination"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_blobstorage_s2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dilactiv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_blobstorage_s1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "sample_submission.csv",
						"container": "source"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_blobstorage_s1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-1751120011177067.7.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricks1_accessToken')]"
					},
					"existingClusterId": "[parameters('AzureDatabricks1_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('AzureSqlDatabase1_properties_typeProperties_server')]",
					"database": "[parameters('AzureSqlDatabase1_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('AzureSqlDatabase1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('AzureSqlDatabase1_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_ADBtoSQL')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-1751120011177067.7.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('ls_ADBtoSQL_accessToken')]"
					},
					"existingClusterId": "[parameters('ls_ADBtoSQL_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_adb_connection')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-1751120011177067.7.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('ls_adb_connection_accessToken')]"
					},
					"existingClusterId": "[parameters('ls_adb_connection_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_adbd_to_SQL')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-1751120011177067.7.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('ls_adbd_to_SQL_accessToken')]"
					},
					"existingClusterId": "[parameters('ls_adbd_to_SQL_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_blobstorage_s1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('ls_blobstorage_s1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_blobstorage_s2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('ls_blobstorage_s2_connectionString')]"
				}
			},
			"dependsOn": []
		}
	]
}